affine==2.2.1
cligj==0.5.0
coveralls==1.5.1
mercantile==1.1.6
pmtiles~=3.0
pyroaring~=1.0
pytest~=8.3.5
pytest-cov==2.5.1
coverage==4.5.1
rasterio~=1.0
shapely~=2.0.0
supermercado==0.2.0
snuggs==1.4.2
tqdm==4.66.3
