@import "tailwindcss";

.axis .domain {
	display: none;
}
.axis line {
	stroke-opacity: 0.3;
	shape-rendering: crispEdges;
}

.inspectFeatures:not(.frozen) canvas {
	cursor: crosshair;
}

.maplibregl-popup .maplibregl-popup-content {
	pointer-events: none;
}

.frozen {
	.maplibregl-popup .maplibregl-popup-content {
		pointer-events: auto;
	}
}

@media (prefers-color-scheme: dark) {
	.maplibregl-ctrl.maplibregl-ctrl-group {
		filter: invert(1);
	}
	details.maplibregl-ctrl.maplibregl-ctrl-attrib {
		background-color: black;
		color: #999;
	}
	details.maplibregl-ctrl.maplibregl-ctrl-attrib a {
		color: #999;
	}

	div.maplibregl-popup-content {
		background-color: black;
	}

	div.maplibregl-popup-anchor-right div.maplibregl-popup-tip {
		border-left-color: black;
	}

	div.maplibregl-popup-anchor-left div.maplibregl-popup-tip {
		border-right-color: black;
	}

	div.maplibregl-popup-anchor-bottom div.maplibregl-popup-tip,
	div.maplibregl-popup-anchor-bottom-right div.maplibregl-popup-tip,
	div.maplibregl-popup-anchor-bottom-left div.maplibregl-popup-tip {
		border-top-color: black;
	}

	div.maplibregl-popup-anchor-top div.maplibregl-popup-tip,
	div.maplibregl-popup-anchor-top-right div.maplibregl-popup-tip,
	div.maplibregl-popup-anchor-top-left div.maplibregl-popup-tip {
		border-bottom-color: black;
	}
}
